fastapi
python-dotenv
python-jose
python-multipart
pydantic==1.10.11
sentence-transformers
sse-starlette
tiktoken
torch>=2.0
transformers==4.36.2
peft==0.6.2
bitsandbytes
transformers_stream_generator==0.0.4
uvicorn
sentencepiece
accelerate>=0.20.3

# for QWen model
einops
scipy
peft
deepspeed

# For Mixtral Offload
git+https://github.com/mobiusml/hqq.git@37502bea31f2969c6680c0c4a88ca74b3bb234a5

# for Stable Diffusion
diffusers
invisible_watermark
safetensors

# for whisper models
openai-whisper

# # for funsar
# modelscope
# funasr
# torchaudio
